---
name: Tests

on:
  push:
    paths:
      - "src/**"
      - "pyproject.toml"
      - "tests/**"
  pull_request:
    paths:
      - "src/**"
      - "pyproject.toml"
      - "tests/**"

jobs:
  test:
    name: python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    env:
      UV_PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests/
